<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wayn.notify.dao.NotifyDao">
    <resultMap type="com.wayn.notify.domain.Notify" id="NotifyResult">
        <result property="id" column="id"/>
        <result property="type" column="type"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="files" column="files"/>
        <result property="notifyState" column="notifyState"/>
        <result property="createBy" column="createBy"/>
        <result property="createTime" column="createTime"/>
        <result property="updateBy" column="updateBy"/>
        <result property="updateTime" column="updateTime"/>
        <result property="remarks" column="remarks"/>
        <result property="delFlag" column="delFlag"/>
    </resultMap>

    <sql id="selectNotifyVo">
        select id, type, title, content, files, notifyState, publishTime, (select userName from sys_user where sys_user.id = createBy) as createBy , createTime,(select userName from sys_user where sys_user.id = updateBy) as updateBy, updateTime, remarks, delFlag from oa_notify
    </sql>

    <select id="selectNotifyList" parameterType="Notify" resultMap="NotifyResult">
        <include refid="selectNotifyVo"/>
        <where>
            <if test="notify.id != null">and id = #{notify.id}</if>
            <if test="notify.type != null">and type = #{notify.type}</if>
            <if test="notify.title != null and notify.title != ''">and title like CONCAT('%',#{notify.title},'%')</if>
            <if test="notify.content != null and notify.content != ''">and content like CONCAT('%',#{notify.content},'%')</if>
            <if test="notify.files != null and notify.files != ''">and files = #{notify.files}</if>
            <if test="notify.notifyState != null">and notifyState = #{notify.notifyState}</if>
            <if test="notify.publishTime != null">and publishTime = #{notify.publishTime}</if>
            <if test="notify.createBy != null and notify.createBy != ''">and createBy = #{notify.createBy}</if>
            <if test="notify.startTime != null and notify.startTime != ''">and createTime <![CDATA[ > ]]> #{notify.startTime}</if>
            <if test="notify.endTime != null and notify.endTime != ''">and createTime <![CDATA[ < ]]> #{notify.endTime}</if>
            <if test="notify.publishStartTime != null and notify.publishStartTime != ''">and publishTime <![CDATA[ > ]]> #{notify.publishStartTime}</if>
            <if test="notify.publishEndTime != null and notify.publishEndTime != ''">and publishTime <![CDATA[ < ]]> #{notify.publishEndTime}</if>
            <if test="notify.updateBy != null and notify.updateBy != ''">and updateBy = #{notify.updateBy}</if>
            <if test="notify.updateTime != null">and updateTime = #{notify.updateTime}</if>
            <if test="notify.remarks != null and notify.remarks != ''">and remarks = #{notify.remarks}</if>
            and delFlag = 0
        </where>
    </select>

</mapper>
