<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd" profile="ehcache">

    <context:component-scan
            base-package="com.wayn.*">
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Service"/>
    </context:component-scan>
    <!-- 开启aop，对类代理 -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <!--配置消息代理,手动注册bean-->
    <bean id="com.wayn.notify.controller.StompController" class="com.wayn.notify.controller.WsController" />

    <beans profile="ehcache">
        <bean id="proper" class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
            <property name="locations">
                <array>
                    <value>
                        classpath:proj-common.properties
                    </value>
                    <value>
                        classpath:proj-ehcahce.properties
                    </value>
                </array>
            </property>
        </bean>
    </beans>

    <beans profile="redis">
        <bean id="proper" class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
            <property name="fileEncoding" value="utf-8"/>
            <property name="locations">
                <array>
                    <value>
                        classpath:proj-common.properties
                    </value>
                    <value>
                        classpath:proj-redis.properties
                    </value>
                </array>
            </property>
        </bean>
    </beans>
</beans>
