<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd    
	http://www.springframework.org/schema/context    
	http://www.springframework.org/schema/context/spring-context.xsd    
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan
            base-package="com.wayn.*">
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Service"/>
    </context:component-scan>
    <!-- 开启aop，对类代理 -->
    <aop:config proxy-target-class="true"/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <!--<import resource="spring-dao.xml" />
    <import resource="spring-service.xml" />
    <import resource="spring-ehcache.xml" />-->
    <!--<import resource="spring-shiro.xml" />-->

    <!-- 开启druids-pring监控 -->
    <bean id="druid-stat-interceptor"
          class="com.alibaba.druid.support.spring.stat.DruidStatInterceptor">
    </bean>

    <bean id="druid-stat-pointcut"
          class="org.springframework.aop.support.JdkRegexpMethodPointcut"
          scope="prototype">
        <property name="patterns">
            <list>
                <value>com.wayn.*</value>
            </list>
        </property>
    </bean>

    <aop:config>
        <aop:advisor advice-ref="druid-stat-interceptor"
                     pointcut-ref="druid-stat-pointcut"/>
    </aop:config>

    <beans profile="ehcache">
        <bean id="proper" class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
            <property name="locations">
                <array>
                    <value>
                        classpath:proj-ehcahce.properties
                    </value>
                </array>
            </property>
        </bean>
    </beans>

    <beans profile="docker">
        <bean id="proper" class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
            <property name="locations">
                <array>
                    <value>
                        classpath:proj-docker.properties
                    </value>
                </array>
            </property>
        </bean>
    </beans>

    <beans profile="dev">
        <bean id="proper" class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
            <property name="fileEncoding" value="utf-8"/>
            <property name="locations">
                <array>
                    <value>
                        classpath:proj-dev.properties
                    </value>
                </array>
            </property>
        </bean>
    </beans>
</beans>