<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wayn.commom.dao.DictDao">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wayn.commom.domain.Dict">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="value" property="value"/>
        <result column="dictState" property="dictState"/>
        <result column="type" property="type"/>
        <result column="sort" property="sort"/>
        <result column="parentId" property="parentId"/>
        <result column="createBy" property="createBy"/>
        <result column="createDate" property="createDate"/>
        <result column="updateBy" property="updateBy"/>
        <result column="updateDate" property="updateDate"/>
        <result column="remarks" property="remarks"/>
        <result column="delFlag" property="delFlag"/>
    </resultMap>
</mapper>
