<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wayn.commom.dao.LogDao">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wayn.commom.domain.OperLog">
        <id column="id" property="id" />
        <result column="userName" property="userName" />
        <result column="operState" property="operState" />
        <result column="ip" property="ip" />
        <result column="method" property="method" />
        <result column="agent" property="agent" />
        <result column="errorMsg" property="errorMsg" />
        <result column="moduleName" property="moduleName" />
        <result column="operation" property="operation" />
        <result column="executeTime" property="executeTime" />
        <result column="requestParams" property="requestParams" />
        <result column="requestMethod" property="requestMethod" />
        <result column="requestResponse" property="requestResponse" />
        <result column="createTime" property="createTime" />
    </resultMap>
</mapper>
