<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wayn.quartz.dao.JobLogDao">

    <resultMap type="com.wayn.quartz.domain.JobLog" id="JobLogResult">
        <result property="id" column="id"/>
        <result property="jobName" column="jobName"/>
        <result property="jobGroup" column="jobGroup"/>
        <result property="invokeTarget" column="invokeTarget"/>
        <result property="jobMessage" column="jobMessage"/>
        <result property="jobState" column="jobState"/>
        <result property="exceptionInfo" column="exceptionInfo"/>
        <result property="createTime" column="createTime"/>
    </resultMap>

    <sql id="selectJobLogVo">
        select id, jobName, jobGroup, invokeTarget, jobMessage, jobState, exceptionInfo, createTime from sys_job_log
    </sql>

    <select id="selectJobLogList" resultMap="JobLogResult">
        <include refid="selectJobLogVo"/>
        <where>
            <if test="jobLog.id != null">and id = #{jobLog.id}</if>
            <if test="jobLog.jobName != null and jobLog.jobName != ''">and jobName like CONCAT('%',#{jobLog.jobName},'%')</if>
            <if test="jobLog.jobGroup != null and jobLog.jobGroup != ''">and jobGroup = #{jobLog.jobGroup}</if>
            <if test="jobLog.invokeTarget != null and jobLog.invokeTarget != ''">and invokeTarget = #{jobLog.invokeTarget}</if>
            <if test="jobLog.jobMessage != null and jobLog.jobMessage != ''">and jobMessage = #{jobLog.jobMessage}</if>
            <if test="jobLog.jobState != null and jobLog.jobState != ''">and jobState = #{jobLog.jobState}</if>
            <if test="jobLog.exceptionInfo != null and jobLog.exceptionInfo != ''">and exceptionInfo = #{jobLog.exceptionInfo}</if>
            <if test="jobLog.startTime != null and jobLog.startTime != ''">and createTime <![CDATA[ > ]]> #{jobLog.startTime}</if>
            <if test="jobLog.endTime != null and jobLog.endTime != ''">and createTime <![CDATA[ < ]]> #{jobLog.endTime}</if>
        </where>
    </select>

</mapper>
