<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wayn.quartz.dao.JobDao">

    <resultMap type="com.wayn.quartz.domain.Job" id="JobResult">
        <result property="id" column="id"/>
        <result property="jobName" column="jobName"/>
        <result property="jobGroup" column="jobGroup"/>
        <result property="invokeTarget" column="invokeTarget"/>
        <result property="cronExpression" column="cronExpression"/>
        <result property="misfirePolicy" column="misfirePolicy"/>
        <result property="concurrent" column="concurrent"/>
        <result property="jobState" column="jobState"/>
        <result property="createBy" column="createBy"/>
        <result property="createTime" column="createTime"/>
        <result property="updateBy" column="updateBy"/>
        <result property="updateTime" column="updateTime"/>
        <result property="remarks" column="remarks"/>
    </resultMap>

    <sql id="selectJobVo">
        select id, jobName, jobGroup, invokeTarget, cronExpression, misfirePolicy, concurrent, jobState, createBy, createTime, updateBy, updateTime, remarks from sys_job
    </sql>

    <select id="selectJobList" parameterType="Job" resultMap="JobResult">
        <include refid="selectJobVo"/>
        <where>
            <if test="job.id != null ">and id = #{job.id}</if>
            <if test="job.jobName != null and job.jobName != ''">and jobName like CONCAT('%',#{job.jobName},'%')</if>
            <if test="job.jobGroup != null and job.jobGroup != ''">and jobGroup = #{job.jobGroup}</if>
            <if test="job.invokeTarget != null and job.invokeTarget != ''">and invokeTarget = #{job.invokeTarget}</if>
            <if test="job.cronExpression != null and job.cronExpression != ''">and cronExpression = #{job.cronExpression}</if>
            <if test="job.misfirePolicy != null and job.misfirePolicy != ''">and misfirePolicy = #{job.misfirePolicy}</if>
            <if test="job.concurrent != null">and concurrent = #{job.concurrent}</if>
            <if test="job.jobState != null">and jobState = #{job.jobState}</if>
            <if test="job.startTime != null and job.startTime != ''">and createTime <![CDATA[ > ]]> #{job.startTime}</if>
            <if test="job.endTime != null and job.endTime != ''">and createTime <![CDATA[ < ]]> #{job.endTime}</if>
            <if test="job.remarks != null  and job.remarks != ''">and remarks = #{job.remarks}</if>
        </where>
    </select>

</mapper>
