<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wayn.notify.dao.NotifyDao">
    <resultMap type="com.wayn.notify.domain.Notify" id="NotifyResult">
        <result property="id" column="id"/>
        <result property="type" column="type"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="files" column="files"/>
        <result property="notifyState" column="notifyState"/>
        <result property="createBy" column="createBy"/>
        <result property="createTime" column="createTime"/>
        <result property="updateBy" column="updateBy"/>
        <result property="updateTime" column="updateTime"/>
        <result property="remarks" column="remarks"/>
        <result property="delFlag" column="delFlag"/>
    </resultMap>

    <sql id="selectNotifyVo">
        select id, type, title, content, files, notifyState, publishTime, (select userName from sys_user where sys_user.id = createBy) as createBy , createTime,(select userName from sys_user where sys_user.id = updateBy) as updateBy, updateTime, remarks, delFlag from oa_notify
    </sql>

    <select id="selectNotifyList" parameterType="Notify" resultMap="NotifyResult">
        <include refid="selectNotifyVo"/>
        <where>
            <if test="id != null ">and id = #{id}</if>
            <if test="type != null ">and type = #{type}</if>
            <if test="title != null  and title != '' ">and title like CONCAT('%',#{title},'%')</if>
            <if test="content != null  and content != '' ">and content like CONCAT('%',#{content},'%')</if>
            <if test="files != null  and files != '' ">and files = #{files}</if>
            <if test="notifyState != null ">and notifyState = #{notifyState}</if>
            <if test="publishTime != null ">and publishTime = #{publishTime}</if>
            <if test="createBy != null and createBy != ''">and createBy = #{createBy}</if>
            <if test="startTime != null and startTime != ''">and createTime <![CDATA[ > ]]> #{startTime}</if>
            <if test="endTime != null and endTime != ''">and createTime <![CDATA[ < ]]> #{endTime}</if>
            <if test="publishStartTime != null and publishStartTime != ''">and publishTime <![CDATA[ > ]]> #{publishStartTime}</if>
            <if test="publishEndTime != null and publishEndTime != ''">and publishTime <![CDATA[ < ]]> #{publishEndTime}</if>
            <if test="updateBy != null  and updateBy != '' ">and updateBy = #{updateBy}</if>
            <if test="updateTime != null ">and updateTime = #{updateTime}</if>
            <if test="remarks != null  and remarks != '' ">and remarks = #{remarks}</if>
            <if test="delFlag != null  and delFlag != '' ">and delFlag = #{delFlag}</if>
            and delFlag = 0
        </where>
    </select>

</mapper>
